
@import url('https://fonts.googleapis.com/css2?family=Jersey+25+Charted&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Sedan+SC&display=swap');/* Estilos Generales */


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #030303;
}

header {
    background-color: rgb(34, 34, 34);
    color: rgb(158, 18, 18);
    text-align:center;
    padding: 10px 10px;
    
}
h1{
    font-size: 80px;
    font-family: "Poetsen One", sans-serif; peso de fuente: 400; estilo de fuente: normal; 
}

nav {
    background-color: #444;
    text-align: center;
    padding: 50px 0;
    font-family: "Poetsen One", sans-serif; peso de fuente: 400; estilo de fuente: normal; 
    box-shadow:  90px 90px 90px 90px rgb(206, 5, 5);
}

nav ul {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    
}

nav ul li {
    display: inline;
    margin-right: 80px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 26px;
    
}

nav ul li a:hover {
    color: #ff8800;
    transform: scale(1.1);
    box-shadow: 10px 10px 10px rgb(214, 89, 17);
}
.premar{
    margin-right: 20px;
    display: inline;
}

div {
    max-width: 800px;
    margin: 50px auto;
    padding: 100px;
    background-color: rgb(197, 191, 191);
    border-radius: 10px;
    box-shadow: 30px 30px 30px rgb(218, 6, 6);
    
}
div section button{
   padding: 15px 12px;
margin-right: 10px;
cursor:pointer;
border-radius: 90px;
}
input[type="submit"]{
  margin-left: 50px;  
}
section button a{
    text-decoration: none;
    font-size:25px;
    font-family: "Sedan SC", serif; peso de fuente: 400; estilo de fuente: normal;
    
    
}
iframe{
    width: 300px;
    height: 200px;
    border: hidden;
    align-items: center;
   
}

div:hover{
    transform: scale(1.05);
}
p.premar{
    text-align: center;
    font-size: 30px;
}
h3 {
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-family: "Poetsen One", sans-serif; peso de fuente: 400; estilo de fuente: normal; 
}

p {
    color: rgb(0, 0, 0);
    font-size: 150%;
    line-height: 1.6;
    text-align: 10px;
    font-family: "Sedan SC", serif; peso de fuente: 400; estilo de fuente: normal;
}


img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    box-shadow: 30px 30px 30px rgb(0, 0, 0);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgb(255, 1, 1), rgba(196, 194, 194, 0.925), rgb(255, 5, 5));    
  }